{% extends "base.html" %}

{% block title %}

Manage your fantasy league {{ fantasy.leagueName }}

{% endblock %}

{% block content %}

<h1 align="center">{{ fantasy.leagueName }}</h1>

{% if user.id == fantasy.owner %}





<br />
<h2 align="center">Scoring table</h2>


<table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>

<form method="post">
    <table style="border-collapse: collapse; width: 100%; height: 173px;" border="1">
        <tbody>
            <tr style="height: 155px;">
                <td style="width: 25%; height: 155px;">
                    <table style="border-collapse: collapse; width: 100%;" border="1">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">Kills</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="kill_points" name="kill_points"
                                        placeholder="{{ fantasy.kill }}" value="{{ fantasy.kill }}" step="any" />
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 50%;">Deaths</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="death_points" name="death_points"
                                        placeholder="{{ fantasy.death }}" value="{{ fantasy.death }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Assists</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="assist_points" name="assist_points"
                                        placeholder="{{ fantasy.assist }}" value="{{ fantasy.assist }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Wards Placed</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="wardPlace_points"
                                        name="wardPlace_points" placeholder="{{ fantasy.wardPlace }}"
                                        value="{{ fantasy.wardPlace }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Wards Killed</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="wardKill_points"
                                        name="wardKill_points" placeholder="{{ fantasy.wardKill }}"
                                        value="{{ fantasy.wardKill }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">CS</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="cs_points" name="cs_points"
                                        placeholder="{{ fantasy.cs }}" value="{{ fantasy.cs }}" step="any" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 25%; height: 155px;">
                    <table style="border-collapse: collapse; width: 100%;" border="1">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">First Baron</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="firstBaron_points"
                                        name="firstBaron_points" placeholder="{{ fantasy.firstBaron }}"
                                        value="{{ fantasy.firstBaron }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">First Dragon</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="firstDragon_points"
                                        name="firstDragon_points" placeholder="{{ fantasy.firstDragon }}"
                                        value="{{ fantasy.firstDragon }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">First Tower</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="firstTower_points"
                                        name="firstTower_points" placeholder="{{ fantasy.firstTower }}"
                                        value="{{ fantasy.firstTower }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">First Blood</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="firstBlood_points"
                                        name="firstBlood_points" placeholder="{{ fantasy.firstBlood }}"
                                        value="{{ fantasy.firstBlood }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Solo kill</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="soloKill_points"
                                        name="soloKill_points" placeholder="{{ fantasy.soloKill }}"
                                        value="{{ fantasy.soloKill }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">CS@15 role comparison</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="morecs15_points"
                                        name="morecs15_points" placeholder="{{ fantasy.morecs15 }}"
                                        value="{{ fantasy.morecs15 }}" step="any" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 25%; height: 155px;">
                    <table style="border-collapse: collapse; width: 100%;" border="1">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">Baron kills</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="baron_points" name="baron_points"
                                        placeholder="{{ fantasy.baron }}" value="{{ fantasy.baron }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Dragon kills</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="dragon_points" name="dragon_points"
                                        placeholder="{{ fantasy.dragon }}" value="{{ fantasy.dragon }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Towers destroyed</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="tower_points" name="tower_points"
                                        placeholder="{{ fantasy.tower }}" value="{{ fantasy.tower }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Soul claimed</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="soul_points" name="soul_points"
                                        placeholder="{{ fantasy.soul }}" value="{{ fantasy.soul }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Elder kills</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="elder_points" name="elder_points"
                                        placeholder="{{ fantasy.elder }}" value="{{ fantasy.elder }}" step="any" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Win (not working)</td>
                                <td style="width: 20%;">
                                    <input type="number" class="form-control" id="win_points" name="win_points"
                                        placeholder="{{ fantasy.win }}" value="{{ fantasy.win }}" step="any" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" name="action" class="btn btn-primary" value="Settings">Save</button>
</form>

<h2 align="center">Add a player</h2>

<form method="POST">
    <input type="email" class="form-control" id="player_invite" name="player_invite" placeholder="name@email.com" />
    <button type="submit" name="action" class="btn btn-primary" value="Invite">Invite</button>
</form>

{% endif %}

{% if not fantasy.rounds %}
{% if user.id == fantasy.owner %}
<form method="POST">
    <button type="submit" name="action" class="btn btn-primary" value="generate">Generate</button>
</form>
{% endif %}
{% else %}
<table style="border-collapse: collapse; width: 100%;" border="1">
    <tbody>
        {% for i in range((fantasy.rounds|length // 4)) %}
        <tr>
            {% for round in fantasy.rounds[(i*4):(i*4)+4] %}
            <td style="width:25%;">
                <table style="border-collapse: collapse; width: 100%;" border="1">
                    <tbody>
                        <tr>
                            <td>
                                {{round.name}}
                            </td>
                        </tr>
                        {% for matchup in round.weekstats %}
                        <tr>
                            <td>
                                <table style="border-collapse: collapse; width: 100%;" border="1">
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%;">
                                                {% for team in fantasy.teams %}
                                                {% if team.id == matchup.team1 %}
                                                {{ team.name }}
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td style="width: 20%;">
                                                {% if matchup.total1 %}
                                                {{'%0.2f'| format(matchup.total1) }}
                                                {% endif %}
                                            </td>
                                            <td style="width: 20%">
                                                <a class="nav-item nav-link" id="Home"
                                                    href="/matchup?leagueid={{fantasy.id}}&m={{matchup.id}}">View</a>
                                            </td>
                                            <td style="width: 20%;">
                                                {% if matchup.total2 %}
                                                {{'%0.2f'| format(matchup.total2) }}
                                                {% endif %}
                                            </td>
                                            <td style="width: 20%;">
                                                {% for team in fantasy.teams %}
                                                {% if team.id == matchup.team2 %}
                                                {{ team.name }}
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            {% endfor %}
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endif %}


<!-- If we have no teams, that means we haven't drafted yet. If we haven't drafted yet, we need to display draft options. 
    If we do have teams, we want to display them all here, starting with [username], [team name?], then displaying players + teams in order of their roles.-->
<form method="POST">
    <h2 align="center"> Players in Tournament </h1>

        <div style="text-align: center; padding-top: 10px;">
            <table style="border-collapse: collapse; width: 100%;" border="1">
                <tbody>
                    <tr>
                        <td style="width: 50%;">

                            <head>
                                <meta http-equiv="refresh" content="100">
                                <table style="border-collapse: collapse; width: 100%; background-color: #CCCCCC"
                                    border="1">
                                    <tbody>
                                        <tr>
                                            <td style="width: 16.6667%;">Team</td>
                                            <td style="width: 16.6667%;">Top</td>
                                            <td style="width: 16.6667%;">Jng</td>
                                            <td style="width: 16.6667%;">Mid</td>
                                            <td style="width: 16.6667%;">Bot</td>
                                            <td style="width: 16.6667%;">Sup</td>
                                        </tr>
                                        {% for team in tournament.teams %}
                                        <tr>
                                            <td style="width: 16.6667%;">
                                                {{ team.code }}
                                                <br />
                                                <img src="/static/img/league/teams/{{team.code}}.png" width="40"
                                                    height="40" />
                                            </td>

                                            {% for role in team.roles|selectattr("role", "equalto", 'top') %}
                                            {% if role in fantasy.roles %}
                                            <td style="width: 16.6667%; background-color: #555555">
                                                {% else %}
                                            <td style="width: 16.6667%;">
                                                <input type="radio" id="top" name="top" value="{{ role.id }}">
                                                {% endif %}
                                                <br />
                                                {% for player in role.players|selectattr("default", "equalto", true) %}
                                                {{ player.name }}
                                                <br />
                                                <img src="/static/img/league/players/{{ team.code }}/{{ player.name }}.png"
                                                    width="40" height="40" /> <br />
                                                {% endfor %}
                                            </td>

                                            {% endfor %}
                                            {% for role in team.roles|selectattr("role", "equalto", 'jungle') %}
                                            {% if role in fantasy.roles %}
                                            <td style="width: 16.6667%; background-color: #555555">
                                                {% else %}
                                            <td style="width: 16.6667%;">
                                                <input type="radio" id="jungle" name="jungle" value="{{ role.id }}">
                                                {% endif %}
                                                <br />
                                                {% for player in role.players|selectattr("default", "equalto", true) %}
                                                {{ player.name }}
                                                <br />
                                                <img src="/static/img/league/players/{{ team.code }}/{{ player.name }}.png"
                                                    width="40" height="40" /> <br />
                                                {% endfor %}
                                            </td>

                                            {% endfor %}
                                            {% for role in team.roles|selectattr("role", "equalto", 'mid') %}
                                            {% if role in fantasy.roles %}
                                            <td style="width: 16.6667%; background-color: #555555">
                                                {% else %}
                                            <td style="width: 16.6667%;">
                                                <input type="radio" id="mid" name="mid" value="{{ role.id }}">
                                                {% endif %}
                                                <br />
                                                {% for player in role.players|selectattr("default", "equalto", true) %}
                                                {{ player.name }}
                                                <br />
                                                <img src="/static/img/league/players/{{ team.code }}/{{ player.name }}.png"
                                                    width="40" height="40" /> <br />
                                                {% endfor %}
                                            </td>

                                            {% endfor %}
                                            {% for role in team.roles|selectattr("role", "equalto", 'bottom') %}
                                            {% if role in fantasy.roles %}
                                            <td style="width: 16.6667%; background-color: #555555">
                                                {% else %}
                                            <td style="width: 16.6667%;">
                                                <input type="radio" id="bottom" name="bottom" value="{{ role.id }}">
                                                {% endif %}
                                                <br />
                                                {% for player in role.players|selectattr("default", "equalto", true) %}
                                                {{ player.name }}
                                                <br />
                                                <img src="/static/img/league/players/{{ team.code }}/{{ player.name }}.png"
                                                    width="40" height="40" /> <br />
                                                {% endfor %}
                                            </td>

                                            {% endfor %}
                                            {% for role in team.roles|selectattr("role", "equalto", 'support') %}
                                            {% if role in fantasy.roles %}
                                            <td style="width: 16.6667%; background-color: #555555">
                                                {% else %}
                                            <td style="width: 16.6667%;">
                                                <input type="radio" id="support" name="support" value="{{ role.id }}">
                                                {% endif %}
                                                <br />
                                                {% for player in role.players|selectattr("default", "equalto", true) %}
                                                {{ player.name }}
                                                <br />
                                                <img src="/static/img/league/players/{{ team.code }}/{{ player.name }}.png"
                                                    width="40" height="40" /> <br />
                                                {% endfor %}
                                            </td>

                                            {% endfor %}

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </head>
                        </td>
                        <td>
                            {% for team in fantasy.teams %}
                            {% if team.owner == user.id %}
                            <table style="border-collapse: collapse; width: 100%; background-color: #dcdccc" border="1">
                                {% else %}
                                <table style="border-collapse: collapse; width: 100%; background-color: #cccccc"
                                    border="1">
                                    {% endif %}
                                    <tbody>
                                        <tr>

                                            {% set roles_list = ['top', 'jungle', 'mid', 'bottom', 'support'] %}
                                            {% for this_role in roles_list %}
                                            {% for role in team.roles|selectattr("role", "equalto", this_role) %}
                                            {% for player in role.players|selectattr("default", "equalto", true) %}

                                            <td style="width: 15%; text-align: center">
                                                {{tournament.teams[player.team-1].code}} <br /> {{player.name}}
                                                <br /><img src="/static/img/league/icons/{{role.role}}_icon.webp"
                                                    width="20" height="20" />
                                                <br />
                                                <img src="/static/img/league/players/{{tournament.teams[player.team-1].code}}/{{ player.name }}.png"
                                                    width="40" height="40" /> <br />
                                            </td>
                                            {% endfor %}
                                            {% endfor %}
                                            {% endfor %}
                                            <td style="width: 20%; text-align: center">
                                                {{ team.name }}
                                                {% if team.owner == user.id %}
                                                {% if team.roles|length != 5 %}
                                                <br />
                                                <button type="submit" name="action" class="btn btn-primary"
                                                    value="team{{team.id}}">Add
                                                    Players</button>
                                            </td>
                                            {% endif %}
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>
                                {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</form>

<br />
<br />
{% endblock %}